@model Vidly4.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@*180812_0_14:28 używamy akcji do tworzenia formy. Dajemy using, zeby było disposed potem *@

@using (Html.BeginForm("Save", "Customers"))
{

    <div class="form-group">
        @*180815_3_17:32 Dodajemy summary u góry formy, które podpowiada nam o błędach*@
        @Html.ValidationSummary()
        @*@Html.ValidationSummary(true, "uzupełnij wymagane pola")*@
        
        

        @Html.LabelFor(m => m.Customer.Name)

        @*180812_0_14:28 dodajemy tekstbox o klasie form-control *@
        @Html.TextBoxFor(m => m.Customer.Name, new {@class = "form-control"})
        @*180812_0_14:28 --------------------------------------------------------------------------*@

        @*180815_0_13_57 dodajemy Validacje Messages*@
        @Html.ValidationMessageFor(c => c.Customer.Name)
        @*180815_0_13_57 ----------------------------------------------------------*@

        <br/>



        @*180812_1_17:43 Dodajemy combobox ale tutaj sprawa jest bardizej skomplikowana. Tworzymy nowy obiekt w ASP NET new SELECT LIST *@
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), " ", new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.Customer.MembershipTypeId)
        @*180812_1_17:43 --------------------------------------------------------------------------*@

        <br/>

        @Html.LabelFor(m => m.Customer.Birthdate)
        @*180812_4_19:01 dodajemy overload do formatu daty*@
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.Customer.Birthdate)
        @*180812_4_19:01 ------------------------------------------------------*@



        <br/>

        @*180812_0_15_10 tutaj checkbox na podstawie getbootstrap.com *@
        <div class="form-group">
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter)
            <label>
                Subscribed to newsletter?
            </label>
        </div>
        @*180812_0_15_10 --------------------------------------------------------------------------*@

        <br/>

    </div>
    @*180812_2_18:39 Dodajemy button *@
    <button type="submit" class="btn btn-primary">Save</button>
    @*180812_2_18:39-------------------------------------------------------------*@

    @*180812_5_19:32 dodajemy id jako ukryty obiekt bo funkcja Save korzysta z powiazania id w bazie i na stronie*@
    @Html.HiddenFor(c => c.Customer.Id)
    
}

@*180812_0_14:28 ------------------------------------*@