@model Vidly4.Models.Customer
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@*180812_0_14:28 używamy akcji do tworzenia formy. Dajemy using, zeby było disposed potem *@

@using (Html.BeginForm("Create", "Customers"))
{
<div class="form-group">
    @Html.LabelFor(m => m.Name)
    @*180812_0_14:28 dodajemy tekstbox o klasie form-control *@
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    @*180812_0_14:28 --------------------------------------------------------------------------*@
    @Html.LabelFor(m => m.Birthdate)
    @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control" })
    @*180812_0_15_10 tutaj checkbox na podstawie getbootstrap.com *@
    <div class="form-check">
        @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter)
        <label>
            Subscribed to newsletter?
        </label>
    </div>
    @*180812_0_15_10 --------------------------------------------------------------------------*@
</div>
}

@*180812_0_14:28 ------------------------------------*@