<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*180903 21:05
        tutaj odnosimy się do partial view
        stworzylismy go na potrzeby navbar i jest w Views/Shared/_NavBar
        tutaj umieszczamy jedynie odwołanie do niego
    *@
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vidly4</p>
        </footer>
    </div>
@*180815_2_15:00 robimy nowy budnle pod bootstrap bootbox i datatables , nadpisujemy już istniejace *@
    @Scripts.Render("~/bundles/lib")
    @*180815_5_21:00 tutaj znajduje się odłowanie do jquery - przekazujemy nasz skrypt validacyjny (wbudowany) w customerForm *@
    @RenderSection("scripts", required: false)
</body>
</html>
